.my-nav{
  background: #000;
}

.my-nav ul{
  margin: 10px 0;
}

body{
  padding-top: 70px;
}

#bs-example-navbar-collapse-1 li{
  padding: 10px;
}

#bs-example-navbar-collapse-1 a:hover{
  background-color: #000;
  color: #fff;
  -webkit-transition: .4s linear;
  -moz-transition: .4s linear;
  -ms-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear;
}

.my-nav a .navbar-brand{
  color: #ffffff;
}

#my-work {
  margin-bottom: 30px;
}